@model AccountViewVM
@using System.Text.RegularExpressions
@{
	Layout = "_ClientLayout";
	var privilegedUsers = new[] { "TestClient123", "MichaelDavidCox" };
	bool isPrivilegedUser = User.Identity != null && User.Identity.IsAuthenticated &&
							privilegedUsers.Contains(User.Identity.Name);
}
<div class="row account-information">
	<div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-xs-12">
				<div class="card p-2">
					<div class="card-body">
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
								<div class="d-flex flex-row justify-content-between">
									<div class="text-justified align-items-center">
										<h3 class="text-dark font-weight-semibold mb-2 mt-0">Welcome back, <span class="text-primary">@Model.FullName</span></h3>
									</div>
									<a class="btn btn-dark" href="https://video.goldco.com/tom-selleck-gold-silver-kit-g-042125/?cq_net=%7Bnetwork%7D&cq_plac=%7Bplacement%7D&cq_plt=gdp&cq_term=%7Bkeyword%7D&gad_campaignid=22633263768&gad_source=2&gclid=Cj0KCQjws4fEBhD-ARIsACC3d2-ThJQ0aEBV_BBoWJ6T-aRaCBDV_cLNi_CEfphx-ddPjh2K7vwiKpQaAtprEALw_wcB&ls=001-Video-Youtube-Internal&sfcid=701Qh00000Xbb5e&utm_campaign=701Qh00000Xbb5e&utm_medium=Video&utm_medium=cpc&utm_source=Youtube-Internal&utm_source=google&utm_term=" target="_blank">
										<img src="~/img/75f068f3-white-goldco-logo-gold-flame_106g02g06e02g000000000.png" alt="GoldCo Logo" style="height: 32px; width: auto;">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-12 col-lg-12 col-md-12 col-xs-12">
				<div class="card p-2">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-6">
						<div class="d-flex flex-wrap justify-content-center gap-2 border p-3 br-5 align-items-center mt-2">
							<div class="mx-2 d-inline-block">
								<span class="tx-18 text-dark">Currency: </span>
							</div>
							@foreach (var rate in Model.ConvertedBalances)
							{
								Dictionary<string, string> currencySymbols = new Dictionary<string, string>
							{
							{ "USD", "$" },
							{ "CAD", "$" },
							{ "EUR", "€" },
							{ "GBP", "£" },
							{ "JPY", "¥" },
							{ "MXN", "$" },
							{ "KWD", "د.ك" }
							};

								// Assign class based on currency key (USD gets 'btn-info' by default)
								string btnClass = rate.Key == "USD" ? "btn btn-info currency-btn" : "btn btn-outline-info currency-btn";

								<div class="mx-2 d-inline-block mt-1">
									<button class="@btnClass"
									data-currency="@rate.Key"
									data-value="@rate.Value">
										<span class="me-1">@currencySymbols[rate.Key]</span> @rate.Key
									</button>
								</div>
							}
						</div>
					</div>
					<div class="card-body p-0">
						<div>
							<div class="card-header pb-1">
								<h3 class="card-title mb-2">Account Summary</h3>
							</div>
							<div class="browser-stats">
								<div class="d-flex align-items-center item  border-bottom my-2">
									<div class="d-flex">
										<div class="">
											<span class="font-weight-semibold tx-20">Total Balance</span>
										</div>
									</div>
									<div class="ms-auto my-auto">
										<div class="d-flex">
											<span class="me-4 mt-1 font-weight-semibold text-success tx-20" id="convertedBalance">$@Model.TotalBalance.ToString("N2") USD</span>
										</div>
									</div>
								</div>
								@foreach (BankAccount bankAccount in Model.BankAccounts)
								{
									<div class="d-flex align-items-center item  border-bottom my-2">
										<div class="d-flex">
											<div>
												<h6>@Regex.Replace(bankAccount.Type.ToString(), "(\\B[A-Z])", " $1") Account</h6>
												<span class="tx-12">
													Account number:
													<span class="account-number-mask" data-full="@bankAccount.AccountNumber">
														****@bankAccount.AccountNumber[^4..]
													</span>
												</span>
											</div>
										</div>
										<div class="ms-auto my-auto">
											<div class="d-flex">
												<span class="me-4 mt-1 font-weight-semibold tx-16 market-price" data-usd="@bankAccount.Balance">$@bankAccount.Balance.ToString("N2")</span>
											</div>
										</div>
									</div>
								}
							</div>
						</div>
						<div>
							<a asp-controller="Account" asp-action="Deposit" class="btn btn-info btn-lg btn-block">
								Deposit to Account
							</a>
							<a asp-controller="Account" asp-action="TransferFundsToInternalAccount" class="btn btn-primary btn-lg btn-block">
								Transfer Between My Accounts
							</a>
							<a asp-controller="Account" asp-action="TransferFundsToExternalAccount" class="btn btn-primary btn-lg btn-block">
								Transfer to External Account
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 printable-profile">
				<div class="card p-2">
					<div class="card-header pb-1">
						<h3 class="card-title mb-2">Transaction History</h3>
					</div>
					<div class="card-body p-0">
						<div class="table-responsive export-table mt-2">
							<table id="file-datatable" class="table table-bordered text-nowrap key-buttons border-bottom">
								<thead>
									<tr>
										<th class="border-bottom-0">Date</th>
										<th class="border-bottom-0">Account</th>
										<th class="border-bottom-0">Transaction</th>
										<th class="border-bottom-0">Amount</th>
									</tr>
								</thead>
								<tbody>
									@foreach (TransactionVM transaction in Model.Transactions)
									{
										<tr>
											<td>@transaction.Date.ToLocalTime().ToString("MM-dd-yyyy HH:mm tt")</td>
											<td>@Regex.Replace(transaction.AccountName, "(\\B[A-Z])", " $1")</td>
											<td>@Regex.Replace(transaction.Type.ToString(), "(\\B[A-Z])", " $1")</td>
											@if (transaction.Type.ToString().Contains("Transfer") || transaction.Type.ToString() == "Withdrawal" || transaction.Type.ToString() == "ServiceFee")
											{
												<td class="market-price" data-usd="@transaction.Amount" data-type="debit">-$@transaction.Amount.ToString("N2")</td>
											}
											else
											{
												<td class="market-price" data-usd="@transaction.Amount" data-type="credit">+$@transaction.Amount.ToString("N2")</td>
											}
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	@if (Model.MarketData != null)
	{
		<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mg-md-t-0">
			<div class="card bg-gray-200 bd-0">
				<div class="card-body">
					<h5 class="card-title tx-dark tx-medium mg-b-10">Market Overview</h5>
					@foreach (var category in Model.MarketData)
					{
						<h4 class="mt-4">@category.Key</h4>
						<div aria-multiselectable="true" class="accordion" id="accordion-@category.Key" role="tablist">
							@{
								var i = 0;
							}
							@foreach (var item in category.Value)
							{
								var percent = item.ChangePercent ?? 0;
								var isPositive = percent >= 0;
								var arrowIcon = isPositive ? "fe-trending-up" : "fe-trending-down";
								var colorClass = isPositive ? "text-success" : "text-danger";
								var collapseId = $"collapse-{category.Key}-{i}";
								var headingId = $"heading-{category.Key}-{i}";
								<div class="card mb-0">
									<div class="card-header" id="@headingId" role="tab">
										<a class="accordion-toggle collapsed"
										data-bs-toggle="collapse"
										data-bs-parent="#accordion11"
										href="#@collapseId"
										aria-expanded="false"
										aria-controls="@collapseId">
											<div class="d-flex align-items-center item my-2">
												<div class="d-flex">
													@if (!string.IsNullOrEmpty(item.LogoUrl))
													{
														<img src="@item.LogoUrl"
														alt="@item.Symbol"
														class="rounded-circle mx-2 ht-30 wd-30 me-2" />
													}
													else
													{
														<div class="avatar bg-info rounded-circle align-items-center justify-content-center mx-2">
															@item.Symbol?[0]
														</div>
													}
													<div class="">
														<h6 class="">@item.Symbol</h6>
														<span class="text-muted tx-12">@item.CompanyName</span>
													</div>
												</div>
												<div class="ms-auto my-auto">
													<div class="d-flex">
														<span class="me-4 mt-1 font-weight-semibold tx-16 market-price" data-usd="@item.Current">@item.Current?.ToString("N2")</span>
														<span class="@colorClass fs-13 my-auto">
															<i class="fe @arrowIcon @colorClass mx-2 my-auto"></i>
															@percent.ToString("N2")%
														</span>
													</div>
												</div>
											</div>
										</a>
									</div>
									<div id="@collapseId"
									class="collapse"
									role="tabpanel"
									aria-labelledby="@headingId"
									data-bs-parent="#accordion11">
										<div class="card-body panel-body">
											<div class="row index1">
												<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xxl-3">
													<div class="row border-end bd-xs-e-0 p-3">
														<div class="col-3 d-flex align-items-center justify-content-center">
															<div class="circle-icon bg-primary text-center align-self-center overflow-hidden shadow">
																<i class="fe fe-shopping-bag tx-15 text-white"></i>
															</div>
														</div>
														<div class="col-9 py-0">
															<div class="pt-4 pb-3">
																<div class="d-flex">
																	<h6 class="mb-2 tx-12">Change in price</h6>
																</div>
																<div class="pb-0 mt-0">
																	<div class="d-flex">
																		<h4 class="tx-18 font-weight-semibold mb-0 market-price" data-usd="@item.Change">@item.Change?.ToString("N2")</h4>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xxl-3">
													<div class="row border-end bd-xs-e-0  p-3">
														<div class="col-3 d-flex align-items-center justify-content-center">
															<div class="circle-icon bg-secondary text-center align-self-center overflow-hidden shadow">
																<i class="fe fe-external-link tx-15 text-white"></i>
															</div>
														</div>
														<div class="col-9">
															<div class="pt-4 pb-3">
																<div class="d-flex">
																	<h6 class="mb-2 tx-12">Daily High</h6>
																</div>
																<div class="pb-0 mt-0">
																	<div class="d-flex">
																		<h4 class="tx-18 font-weight-semibold mb-0 market-price" data-usd="@item.High">@item.High?.ToString("N2")</h4>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xxl-3">
													<div class="row  p-3">
														<div class="col-3 d-flex align-items-center justify-content-center">
															<div class="circle-icon bg-info text-center align-self-center overflow-hidden shadow">
																<i class="fe fe-credit-card tx-15 text-white"></i>
															</div>
														</div>
														<div class="col-9">
															<div class="pt-4 pb-3">
																<div class="d-flex	">
																	<h6 class="mb-2 tx-12">Daily Low</h6>
																</div>
																<div class="pb-0 mt-0">
																	<div class="d-flex">
																		<h4 class="tx-18 font-weight-semibold mb-0 market-price" data-usd="@item.Low">@item.Low?.ToString("N2")</h4>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								i++;
							}
						</div>
					}
				</div>
			</div>
		</div>
	}

	<div class="text-end mt-4">
		<a class="btn btn-outline-primary" asp-action="PrintProfile" asp-controller="Account">🖨️ Print User Profile</a>
	</div>
	<div class="text-end mt-4">
		<a class="btn btn-outline-primary" asp-action="ResetPassword" asp-controller="Account">Reset Your Pin Number</a>
	</div>

	@if (TempData["ExternalTransferModal"]?.ToString() == "Active" && isPrivilegedUser)
	{
		<div class="modal fade" id="modaldemo4">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content tx-size-sm">
					<div class="modal-header">
						<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body tx-center pd-y-20 pd-x-20">
						<i class="icon ion-ios-checkmark-circle-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
						<h4 class="tx-success tx-semibold mg-b-20">Success</h4>
						<p class="mg-b-20 mg-x-20">Transfer processed successfully</p><button aria-label="Close" class="btn ripple btn-success pd-x-25" data-bs-dismiss="modal" type="button">Continue</button>
					</div>
				</div>
			</div>
		</div>
		<script>
			window.addEventListener("DOMContentLoaded", function () {
				var modal = new bootstrap.Modal(document.getElementById('modaldemo4'));
				modal.show();
			});
		</script>
	}
	else if (TempData["ExternalTransferModal"]?.ToString() == "Active")
	{
		<div class="modal fade active" id="modaldemo5">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content tx-size-sm">
					<div class="modal-header">
						<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body tx-center pd-y-20 pd-x-20">
						<i class="icon icon ion-ios-close-circle-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
						<h4 class="tx-danger mg-b-20">Error: Cannot proccess your transfer.</h4>
						<p class="mg-b-20 mg-x-20">An error occurred, please try again later.</p><button aria-label="Close" class="btn ripple btn-danger pd-x-25" data-bs-dismiss="modal" type="button">Continue</button>
					</div>
				</div>
			</div>
		</div>
		<script>
			window.addEventListener("DOMContentLoaded", function () {
			var modal = new bootstrap.Modal(document.getElementById('modaldemo5'));
			modal.show();
			});
		</script>
	}
	@if (TempData["InternalTransferModal"]?.ToString() == "Active")
	{
		<div class="modal fade" id="modaldemo4">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content tx-size-sm">
					<div class="modal-header">
						<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body tx-center pd-y-20 pd-x-20">
						<i class="icon ion-ios-checkmark-circle-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
						<h4 class="tx-success tx-semibold mg-b-20">Success</h4>
						<p class="mg-b-20 mg-x-20">Transfer processed successfully</p><button aria-label="Close" class="btn ripple btn-success pd-x-25" data-bs-dismiss="modal" type="button">Continue</button>
					</div>
				</div>
			</div>
		</div>
		<script>
			window.addEventListener("DOMContentLoaded", function () {
				var modal = new bootstrap.Modal(document.getElementById('modaldemo4'));
				modal.show();
			});
		</script>
	}
</div>

<script>

	const exchangeRates = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.ConvertedBalances));
	localStorage.setItem('exchangeRates', JSON.stringify(exchangeRates));
	let selectedCurrency = localStorage.getItem('selectedCurrency') || 'USD';

	const currencySymbols = {
		USD: "$",
		CAD: "$",
		EUR: "€",
		GBP: "£",
		JPY: "¥",
		MXN: "$",
		KWD: "د.ك"
	};

	function formatPrice(value, currency) {
		const symbol = currencySymbols[currency] || '';
		return symbol + value.toLocaleString(undefined, { minimumFractionDigits: 2 }) + " " + currency;
	}

	function convertPrice(priceInUsd, currency) {
		if (!exchangeRates[currency]) return priceInUsd;
		return priceInUsd * exchangeRates[currency] / exchangeRates["USD"];
	}

		function updateMarketPrices(currency) {
		document.querySelectorAll('.market-price').forEach(td => {
			const priceUsd = parseFloat(td.getAttribute('data-usd'));
			const type = td.getAttribute('data-type'); 

			if (!isNaN(priceUsd)) {
				const converted = convertPrice(priceUsd, currency);
				const formatted = formatPrice(converted, currency);
				if(type === "debit"){
					sign = "-";
				}else if(type === "credit"){
					sign = "+";
				}else{
					sign = "";
				}

				td.textContent = `${sign}${formatted}`;
			}
		});
	}

	function setCurrencyDisplay(currency, value) {
		const display = document.getElementById('convertedBalance');
		const symbol = currencySymbols[currency] ?? '';
		display.textContent = `${symbol}${value.toLocaleString(undefined, { minimumFractionDigits: 2 })} ${currency}`;

		document.querySelectorAll('.currency-btn').forEach(btn => {
			btn.classList.remove('btn-info');
			btn.classList.add('btn-outline-info');
		});

		const selectedBtn = document.querySelector(`.currency-btn[data-currency="${currency}"]`);
		if (selectedBtn) {
			selectedBtn.classList.remove('btn-outline-info');
			selectedBtn.classList.add('btn-info');
		}

		updateMarketPrices(currency);
	}

	document.querySelectorAll('.currency-btn').forEach(button => {
		button.addEventListener('click', function () {
			const currency = this.getAttribute('data-currency');
			const value = parseFloat(this.getAttribute('data-value'));

			setCurrencyDisplay(currency, value);

			localStorage.setItem('selectedCurrency', currency);
		});
	});

	window.addEventListener('DOMContentLoaded', () => {
		const savedCurrency = localStorage.getItem('selectedCurrency') || "USD";
		const savedButton = document.querySelector(`.currency-btn[data-currency="${savedCurrency}"]`);
		if (savedButton) {
			const value = parseFloat(savedButton.getAttribute('data-value'));
			setCurrencyDisplay(savedCurrency, value);
		}
	});

	document.getElementById("internalTransferForm").addEventListener("submit", function () {
		const selectedCurrency = localStorage.getItem("selectedCurrency") || "USD";
		document.getElementById("internalCurrency").value = selectedCurrency;
	});

	document.getElementById("externalTransferForm").addEventListener("submit", function () {
		const selectedCurrency = localStorage.getItem("selectedCurrency") || "USD";
		document.getElementById("externalCurrency").value = selectedCurrency;
	});

</script>